@import "../../../../../styles/colors";

.container {
  width: 100%;
  @media screen and (min-width: 576px) {
    margin-top: 25px;
  }

  .gallery__box {
    width: 100%;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 3vw;
    box-sizing: border-box;
    border: 3px solid $fourth;
    border-radius: 20px;
    margin-bottom: 25px;
    @media screen and (min-width: 576px) {
      padding-top: 0;
    }

    .galleryText__box {
      width: 100%;
      display: flex;
      justify-content: center;

      .gallery__title {
        font-family: Verdana;
        font-size: 16pt;
        color: $third;
      }
    }

    .cards__container {
      @media screen and (min-width: 576px) {
        display: flex;
        justify-content: space-between;
      }

      .card__box {
        width: 100%;
        @media screen and (min-width: 576px) {
          width: 20%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding-top: 15px;
          padding-bottom: 15px;
        }

        .images__box {
          width: 100%;

          .images {
            width: 100%;
            border-radius: 20px;
            @media screen and (min-width: 576px) {
              height: 350px;
            }
          }
        }

        .card__text {
          .image__text {
            text-align: center;
            font-family: Verdana;
            font-size: 10pt;
            color: $third;
            margin-bottom: 10px;
            margin-top: 10px;
          }
          .price__text {
            text-align: center;
            font-family: Verdana;
            font-size: 12pt;
            color: $fourth;
            margin-bottom: 25px;
          }
        }
      }
    }
  }
}
